<form method="post" action="/suppliers/<%= @supplier.id %>">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value="<%= @supplier.name %>">

  <label for="contact">Contact:</label>
  <input id="contact" type="text" name="contact" value="<%= @supplier.contact %>">

  <% for supplier in @suppliers %>
    <option value="<%= supplier.id %>"><%= supplier.name %></option>
  <% end %>

  <input class="btn btn--action" type='submit' value="Edit Supplier Details"/>

  </form>
